body, html {
    margin: 0;
    padding: 0;

    font-family: "Noto Sans", 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #141414, #0e0e0e);
    background-color: #141414;
    color: rgb(170, 170, 170);
}

a {
    text-decoration-color: rgb(100, 100, 100);
    color: rgb(200, 200, 200);
    transition: all 0.2s ease;
    cursor: pointer;
}

a:hover {
    text-decoration-color: rgb(170, 170, 170);
}

.description p {
    text-align: justify;
}

.navigator {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    max-width: 720px;
    margin: 40px auto 70px auto;
}

.navigator ul {
    display: flex;

    list-style-type: none;
	padding: 0;
	margin: 0;
}

.navigator ul li {
	font-size: 14px;
    margin-right: 35px;
}

.navigator a {
	color: rgb(200, 200, 200);
    text-decoration: none;
    cursor: pointer;

    transition: all 0.2s ease;
}

.navigator a:link {
	color: rgb(200, 200, 200);
}

.navigator a:hover {
	color: rgb(230, 230, 230);
    text-decoration: none;
    cursor: pointer;

    transition: all 0.2s ease;
}

.wrap {
    margin: 0 auto;
    max-width: 720px;
    width: 100%;
}

.header {
    margin: 0 0 20px 0;
    color: rgba(255, 255, 255, 0.85);
}

.description-div {
    margin-bottom: 50px;
}

.des-button-div {
    display: flex;
}

.des-top-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 35px;
    margin: 10px 10px 10px 0;
    background-color: #1a67be;
    border: 0;
    color: #1d1d1d;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 20px;
}

.des-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    margin: 10px;
    border: 3px solid rgba(255, 255, 255, 0.250);
    background-color: transparent;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 20px;
}

.language-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1060px;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(to right, rgba(170,170,170), #888888);
    background-color: rgba(170,170,170);
    border-left: 2px solid #888888;
    border-right: 2px solid #888888;
    border-bottom: 2px solid #888888;
    overflow: hidden;
    margin-bottom: 50px;
}

.language-description {
    margin:10px;
    font-size: 18px;
    color: #1d1d1d;
}

.languages {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to right, #141414, #585858);
    background-color: #888888;

    font-size: 12px;
}

.languages svg {
    width: 36px;
    height: 36px;
}

.project-div {
    margin-bottom: 70px;
}

.project-content {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.card {
    width: 200px;
    height: 100px;
}

.footer {
    width: 100%;
    padding: 30px 0;
    text-align: center;
    background-color: black;
    color: #777;
    user-select: none;
}

::selection {
    background: #2c2c2c;
}