.show {
  display: flex !important;
}

.hide {
  display: none !important;
}

body {
  color: #a1a0ab;
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle, hsl(246, 18%, 15%) 10%, hsl(250, 24%, 9%) 10%) 0 0 / 20px 20px;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  font-size: 16px; line-height: 24px;
}

a:link {
  text-decoration: none;
  color: rgb(200, 200, 200);
}

nav {
  color: inherit;
  display: flex;
  justify-content: center;
  background-color: hsl(250, 24%, 9%);
  padding-top: 40px;
}

nav ul {
  display: inherit;
  column-gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 700px;
}

nav a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  user-select: none;
}

img {
  border-radius: 50%;
  margin: auto;
}

.sImg {
  border-radius: 15px !important;
  margin: auto;
}

.content {
  margin: 40px 0;
}

.main {
  margin-left: auto; margin-right: auto;
  max-width: 700px;
  background-color: #121018;
  border-color: hsl(246, 11%, 22%);
  border-style: solid; border-width: 1px; border-radius: 12px;
}

.main-space {
  border: none;
  padding: 30px 40px 30px 40px;
}

.server {
  padding: 16px 16px;
  margin-right: 0 !important;
}

.user {
  padding: 16px 16px;
  margin: 0 !important;
}

.header{
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  margin: 0;
}

.content a svg path {
  filter: brightness(1);
  transition: filter 0.3s ease;
}

.content a:hover svg path {
  filter: brightness(0.8);
  transition: filter 0.3s ease;
}

.content a {
  color: inherit;
  font-size: 24px;
  font-weight: bold;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content .fb {
  margin-left: 32px;
}

.discord-boxs {
  display: flex;
  margin-left: auto; margin-right: auto;
  max-width: 700px;
}

.discord-boxs div {
  background-color: hsl(246, 11%, 22%);
  display: flex;
  margin: 0 auto 0 auto;
  max-width: 432px;
  min-width: 160px;
  border-radius: 4px;
}

.usernames {
  display: block !important;
  padding-left: 0 !important;
}

.usernames .hname {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgb(200, 200, 200);
}

.usernames .mname {
  font-family: 'Open Sans', 'Segoe UI', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.usernames p{
  margin: 2px 0 0 10px !important;
  font-family: 'Open Sans', 'Segoe UI', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.svDetails {
  display: block !important;
  padding: 0 !important;
}

.sStatus {
  padding: 0 !important;
  display: flex !important;
}

.svDetails .sname {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 5px 0;
}

.sinv {
  margin-left: 10px;
  color: rgb(200, 200, 200);
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

.sinv:hover{
  text-decoration: underline;
}

.gMemberslist {
  padding: 0;
  margin: 0 !important;
  
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.mStatus {
  padding: 0 !important;
}

.statusText {
  font-family: 'Open Sans', 'Segoe UI', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0!important;
}

.inviteButton {
  margin-left: 40px;
  font-family: 'Open Sans', 'Segoe UI', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  background-color: #23a55a;
  border: none; border-radius: 3px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  padding: 2px 16px 2px 16px;
}

.inviteButton:hover{
  background-color: #216337;
}

.uieuie::marker {
  margin: 0 !important;
}

.online {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 2px;
  width: 8px !important;height: 8px !important;
  border-radius: 50%;
  background-color: #31a55e;
}

.avaible {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 2px;
  width: 8px !important;height: 8px !important;
  border-radius: 50%;
  background-color: #80848d;
}

.time {
  margin-top: 20px;
  display: flex;
}

.timer {
  margin: 0 0 0 10px;
}

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  transition: all 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  animation-name: fadeIn;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .4s, opacity .4s linear;
}

.currentSecond {
  margin: auto;
  transition: all .2s ease-in;
  font-size: 24px;
  font-weight: bold;
}

.pink-timer {
  background-color: hsl(246, 11%, 22%);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  margin: auto;
}

.background-timer {
  margin: 5px;
  background-color: #121018;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display:flex;
  position: absolute;
}

.main-timer {
  margin: auto;
  z-index: 1;
}

.timer-settings {

  background-color: hsl(246, 11%, 22%);
  display: block;
  height: 100px;
  width: 200px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 14px;
}