body {
  font-family: 'Inter', 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101014;
    color: white;
  }

  h2 {
    margin: 20px 0;
  }

  h3 {
    font-family: 'Inter Tight', 'Segoe UI', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }

  a {
    text-decoration: none;
    color: white;
  }
  
  .container {
    color: white;
    padding: 30px;
    text-align: center;
  }

  .containerNav {
    display: block;
    justify-content: space-between;
    align-items: center;
    max-width: 1060px;
    min-width: 1060px;
    margin: 0 auto 0 auto;
    background-color: transparent;
  }

  .content {
    max-width: 1060px;
    background-color: transparent;
    margin: 0 auto;
    overflow: hidden;
  }

  .arama[type=search] {
    margin-left: 15px;
    transition: all ease 0.1s;
    background-color: #202024;
    color: white;
    border: none;
    border-radius: 40px;
    height: 40px;
    padding-left: 20px; /* İkon için sağlanan boşluk */
  }
  
  .arama[type=search]:hover {
    background-color: #404044;
  }

  .arama[type=search]::placeholder {
    color: rgb(175, 175, 175);
  }

  .navButton {
    padding: 0;
    color: white;
    display: flex;
  }

  .navLeft{
    float:left;
  }

  .navRight{
    float: right
  }

    .populerContent{
        display: flex;
        flex-wrap: wrap; /* Yeni satıra geçişi sağlamak için */
        justify-content: space-between; /* Boşlukları kaldırır */
    }

    .populerList {
        max-width: 200px;
        margin: auto;
    }

    .populerListFirst {
        height: 76px;
        width: 180px;
        border-radius: 10px;
        display: flex; /* Flexbox eklenmeli */
        justify-content: center; /* Yatayda ortalama */
        align-items: center; /* Dikeyde ortalama */
        transition: all ease 0.5s;
    }

    .populerListText {
        margin: auto;
        text-align: center; /* Yazının hizalanması */
    }

  .populerSeries {
    display: flex;
    height: 460px;
    width: 800px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.1s;

    flex-grow: 1;
    min-width: 0;
  }

  .populerHeader {
    position: absolute;
    top: 35%;
    left: 32px;
    z-index: 1;
    transition: all ease 1s;
  }

  .populerDesBox {
    position: absolute;
    top: 50%;
    left: 32px;
    height: 100px;
    width: 350px; /* Daha geniş bir alan tanımlandı */
    overflow: hidden;
    z-index: 1;
    box-sizing: border-box; /* Padding'i kutu boyutuna dahil eder */
  }
  
  .populerDescp {
    margin: 0;
    text-align: left;
    word-wrap: break-word;
    overflow: hidden;
    display: block; /* Esnek kutu yerine blok düzen kullanıldı */
    height: 100%; /* Kutunun yüksekliğini tamamen doldur */
    line-height: 1.5; /* Satır aralığı için daha iyi okunabilirlik */
    transition: all ease 1s;
  }

  .populerButton {
    position: absolute;
    top: 85%;
    left: 32px;
    border: none;
    border-radius: 10px;
    height: 48px;
    width: 180px;
    z-index: 1;
  }

  .populerMark {
    color: white;
    background-color: transparent;
    position: absolute;
    top: 85%;
    left: calc(32px + 180px + 32px);
    border-radius: 10px;
    height: 48px;
    width: 180px;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; /* İkon ile metin arasına boşluk ekler */
    border: 0;
    font-size: 16px; /* Yazı boyutunu belirler */
  }

  .populerMark:hover{
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  footer {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #202020;
  }
  
  main ul {
    list-style: none;
    padding: 0;
  }
  
  main ul li {
    margin: 10px 0;
  }
  
  main {
    text-decoration: none;
    color: white;
  }
  
  main ul li a:hover {
    text-decoration: underline;
  }


  .topContent {
    display: flex;
  }

  .rightLine {
    width: 1px;
    height: 452px;
    max-width: 1px;
    max-height: 452px;
    margin: 20px 50px;
    background-color: #404044;
  }

  .topLine {
    width: 950px;
    height: 1px;
    max-width: 950px;
    max-height: 1px;
    background-color: #404044;
    margin: 50px auto 10px auto;
  }

  .botLine {
    width: 950px;
    height: 1px;
    max-width: 950px;
    max-height: 1px;
    background-color: #404044;
    margin: 30px auto 10px auto;
  }







  .populer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 700px;
}

.total-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 20px;
  max-width: 1060px; 
}

.film-card {
    border-radius: 8px;
    cursor: pointer;
}

.film-card img {
    width: 160px;
    border-radius: 8px;
    height: 190px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.film-card:hover {
    transform: translateY(-5px);
}





.scroll-container {
  width: 260px;
  height: 472px;
  background-color: #202024;
  border-radius: 8px;
  border: 0;
  overflow-y: scroll; /* Dikey scroll ekler */
  overflow-x: hidden;
  padding: 10px;
}

.scroll-container::-webkit-scrollbar {
  background-color: #4d4d4d;
  border-radius: 8px;
  width: 6px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #a6a6a6;  /* Scrollbar rengi */
  border-radius: 8px;     /* Kenarları yuvarlat */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #cacaca;
}

.item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.item:last-child {
  border-bottom: none;
}
